.door {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
  padding: 15px;

  /* * temp */
  width: var(--area-door-width);
  height: var(--area-door-height);
}

.number {
  font-size: 3rem;
}
